@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color:white;
}
body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #040617;
  height: 90vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  cursor: default;
  box-sizing: border-box;
}
